{% extends "base.html" %}

{% block titulo %}Lista de Categorías{% endblock %}

{% block contenido %}

  <div class="container my-5">


    <div class="d-flex align-items-center justify-content-center text-center">

      <h1 class="text-center mr-5" style="display: inline">CATEGORÍAS</h1>
      {% if request.user.is_staff %}
        <a href="{% url 'agregar_categoria' %}"><button type="button" name="AgregarCategoria" class="btn btn-success ml-5">Crear Categoría</button></a>
      {% endif %}

    </div>


    {% for category in object_list %}

      {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:"3" %}
        </div>
      {% endif %}
      {% if forloop.counter0|divisibleby:"3" %}
        <div class="row mt-5">
      {% endif %}
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card w-100">
          <a href="{{ category.get_absolute_url }}"><img class="card-img-top" src="{{ category.photo.url }}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a class="text-secondary" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            </h4>
          </div>
        </div>
      </div>

    {% endfor %}

  </div>

{% endblock  %}
