{% extends "base.html" %}

{% block titulo %}{{ object.name }}{% endblock  %}

{% block contenido %}
  <div class="container w-75 my-3">
    <!-- Nombre del producto y botón para que un staff pueda inhabilitarlo -->
    <div class="row text-center">

      <div class="col"></div>
      <h1 class="col text-center mr-5" style="display: inline">{{ object.name }}</h1>
      {% if request.user.is_staff %}
      <div class="col d-flex align-items-center justify-content-center">
        <a href="{% url 'actualizar_producto' object.slug %}"><button type="button" name="Actualizar" class="btn btn-warning ml-5">Actualizar producto</button> </a>
        <a href="{% url 'desactivar_producto' object.pk %}"><button type="button" name="Desactivar" class="btn btn-danger ml-5">Inhabilitar producto</button> </a>
      </div>
      {% endif %}
      <div class="col"></div>
    </div>

    <!-- información del producto -->
    <div class="row mt-5">

      <!-- imágen del producto -->
      <div class="col-6 d-flex align-items-center">
        <img class="mw-100 rounded" src="{{ object.photo.url }}" alt="">
      </div>

      <!-- información del producto -->
      <div class="col-6 ml-6">

        <!-- información categoría -->
        <div class="card my-4">
          <h5 class="card-header text-center">Categoría</h5>
          <div class="card-body">
            <div class="col">
              <ul class="list-unstyled mb-0">
              <li>
                <a class="text-secondary" href="{{ object.category.get_absolute_url }}">{{ object.category }}</a>
              </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- información material -->
        <div class="card my-4">
            <h5 class="card-header text-center">Materiales</h5>
            <div class="card-body">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                  {% for mat in product.materials.all %}
                    <li>
                      <a class="text-secondary" href="{{ mat.get_absolute_url }}">{{ mat.name }}</a>
                    </li>
                  {% endfor %}
                  </ul>
                </div>
            </div>
        </div>

        <!-- información precio -->
        <div class="card my-4">
          <h5 class="card-header text-center">Precio</h5>
          <div class="card-body">
            ${{ object.price }}
            <a href="#"><button type="button" class="btn btn-success offset-7">Comprar</button></a>
          </div>
        </div>

      </div>

    </div>

    <!-- agregar comentarios al producto-->
    {% if request.user.is_authenticated %}
      <h4 class="mt-5" id="comments">Comentarios</h4>
      <div class="card my-4">
        <h5 class="card-header">Deja un comentario:</h5>
        <div class="card-body">
          <form method="post" action="{% url "crear_comentario" %}">
            {% csrf_token %}
            <div class="form-group">
              <textarea name="{{comment_form.content.name}}" class="form-control" rows="3"></textarea>
              <input type="hidden" name="{{comment_form.product.name}}" value="{{product.id}}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    {% endif %}
  </div>

  <!-- comentarios del producto-->
  <div class="container w-75 mb-5 bg-light p-3">
    {% for comment in product.comments.all %}
      <img class="mr-3 rounded-circle" style="float: left" src="https://bit.ly/2N0ZK5p" width="50px" alt="">
      <h5 class="mt-0"><strong>{{comment.author.username}}: </strong></h5>
      <div class=" row">
        <p>{{comment.content}}</p>
      </div>
      <hr />
   {% endfor %}
  </div>

{% endblock  %}
